<!DOCTYPE html>
<html>

<head>
<title>Speaker Recognition System</title>
<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

<h1>Speaker Recognition System</h1>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/resources">Resources</a>
<a href="/register">Registration</a>
<a href="/verify">Verification</a>
</nav>

</header>

<section class="project-info">

<p>
This web page provides a compilation of various user manuals and help materials
required in the development of the <b>Indic Speaker Recognition Project</b>.
</p>

<p>
Click the <a href="/register"><b>Registration</b></a> tab to register a new speaker.
</p>

<p>
Click the <a href="/verify"><b>Verification</b></a> tab to verify a speaker's identity.
</p>



</section>




</section>

<section class="consortium">

<h2>Consortium Members</h2>

<div class="logo-container">

<div class="logo-box">
<img src="{{ url_for('static', filename='images/image.png') }}">
</div>


</div>
<footer>

<p>© Copyright 2026. Designed and maintained by KLETECH Hubli.</p>

</footer>

</section>
</body>
</html>