<!DOCTYPE html>
<html>

<head>

<title>Resources</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<h1>Resources</h1>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/resources">Resources</a>
<a href="/register">Registration</a>
<a href="/verify">Verification</a>
</nav>

</header>


<!-- IMPORTANT LINKS -->

<section class="resource-section">

<h2>Important links</h2>

<div class="resource-container">

<div class="resource-card">
Software Requirement Specifications
</div>

<div class="resource-card">
Github Repository
</div>

<div class="resource-card">
I-MSV dataset key files
</div>

</div>

</section>



<!-- TUTORIALS -->

<section class="resource-section">

<h2>Tutorials</h2>

<div class="resource-container">

<div class="resource-card">
Keras Speaker Recognition
</div>

<div class="resource-card">
A Tutorial on Text-Independent Speaker Verification, MIT
</div>

<div class="resource-card">
Speaker Recognition from Whispered Speech
</div>

</div>

</section>



<!-- TOOLKITS -->

<section class="resource-section">

<h2>Other available toolkits</h2>

<div class="resource-container">

<div class="resource-card">
SpeechBrain: A PyTorch Powered Speech Toolkit
</div>

<div class="resource-card">
SPEAR: A Speaker Recognition Toolkit based on Bob
</div>

<div class="resource-card">
ALIZE: Opensource Speaker Recognition
</div>

<div class="resource-card">
SIDEKIT: Open source package for Speaker and Language recognition
</div>

</div>

</section>

</body>

</html>